<!DOCTYPE html>
<html lang="en">
    <!-- Including our head from partial file -->
    <%- include('./partials/head.ejs') %>
<body>
   <!-- Including our nav bar from partial file -->
   <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        OOPS, page not found :)
    </div>

    <!-- Including our footer from partial file -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>