<html lang="en">
    <!-- Including our head from partial file -->
    <%- include('./partials/head.ejs') %>
<body>
    <!-- Including our nav bar from partial file -->
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>This is some random text, I will change it later on but now I just don't have the time to do it.</p>
        <p>This is some random text, I will change it later on but now I just don't have the time to do it.</p>
        <p>This is some random text, I will change it later on but now I just don't have the time to do it.</p>
    </div>

    <!-- Including our footer from partial file -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>